<div class="card card-profile shadow-sm h-100">
    <div class="card-body">
        <!-- card title :Start -->
        <div class="app-sub-title">
            <h5>Personal Details</h5>
        </div>
        <!-- card title : Ends -->

        <!-- user details : Start  -->
        <div class="user d-flex flex-column flex-xl-column flex-sm-row  align-items-center justify-content-center justify-content-sm-between justify-content-md-around">
            <!-- user Avatar : Start  -->
            <figure>
                <img src="../../assets/images/img_avatar.png" alt="Avatar" class="user-avatar">
            </figure>
            <!-- user Avatar : Ends  -->

            <div class="d-flex flex-column align-items-center justify-content-center mt-3">

                <!-- user name  -->
                <p class="user-name">Sara Sam Paul</p>

                <!-- user domain  -->
                <p class="user-domain text-muted">Business Analyst</p>

                <div class="line"></div>

                <div class="mt-4 mb-5">

                    <!-- user email : Start  -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="icon me-3">
                            <span class="icon-email-line"></span>
                        </div>
                        <span>sarapoul@1rivet.com</span>
                    </div>

                    <!-- user email : Ends -->

                    <!-- user contact : Start  -->
                    <div class="d-flex align-items-center">
                        <div class="icon me-3">
                            <span class="icon-call"></span>
                        </div>
                        <span>+91 8523655963</span>
                    </div>
                    <!-- user contact : Ends  -->
                    
                </div>
            </div>
        </div>
        <!-- user details : Ends -->
    </div>
</div>