<div class="card card-profile shadow-sm h-100">
    <div class="card-body">
        <!-- Start: card title -->
        <div>
            <h4 class="page-sub-title">Personal Details</h4>
        </div>
        <!-- End: card title -->

        <!-- Start: user details  -->
        <div class="user d-flex flex-column flex-xl-column flex-sm-row  align-items-center justify-content-center justify-content-sm-between justify-content-md-around">
            <!-- Start: user Avatar -->
            <figure>
                <img src="../../assets/images/img_avatar.png" alt="Avatar" class="user-avatar">
            </figure>
            <!-- End: user Avatar  -->

            <div class="d-flex flex-column align-items-center justify-content-center mt-3">

                <!-- user name  -->
                 <p class="user-name text-nowrap">{{personalDetails?.fullName}}</p>

                <!-- user domain  -->
                <p class="user-sub-domain text-muted">{{ personalDetails?.subDomainName }}</p>

                <div class="line"></div>

                <div class="d-flex flex-column mt-4 mb-5">

                    <!-- Start: user email  -->
                    <div class="d-flex align-items-center flex-grow-1 mb-3">
                        <!-- Email Icon -->
                        <div class="icon me-3">
                            <span class="icon-email-line"></span>
                        </div>
                        <div class="user-email">{{ personalDetails?.email }}</div>
                    </div>
                    <!-- End: user email  -->

                    <!-- Start: user contact  -->
                    <div class="d-flex align-items-center">
                        <!-- Call Icon -->
                        <div class="icon me-3">
                            <span class="icon-call"></span>
                        </div>
                        <span>{{ personalDetails?.contactNumber }}</span>
                    </div>
                    <!-- End: user contact -->
                    
                </div>
            </div>
        </div>
        <!-- End: user details -->
    </div>
</div>