<!-- Start: Main Section -->
<main class="h-100 d-flex justify-content-center align-items-center">
    <div class="wrapper p-0 p-md-5 d-flex flex-column flex-md-row-reverse align-items-center">
        <!-- Start: Greeting layout -->
        <div class=" greeting h-100 d-flex justify-content-center align-items-center ">
            <div class="greeting__logo h-100 w-100">
                <div class="greeting__gradient h-100 w-100 d-flex flex-column justify-content-center align-items-center ">
                    <div class="greeting__text text-light p-5">
                        <h6>WELCOME TO</h6>
                        <h2 class="brand-title ">1RU LEAVE MANAGEMENT</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Greeting layout -->
        <div class="login-form h-100 d-flex flex-grow-1 flex-column justify-content-center ">
            <!--Start: Brand Logo Image -->
            <div class="mb-5">
                <figure class="brand-logo overflow-hidden">
                    <img src="../../../../assets/images/1Ru balck logo.png" alt="brand-logo-image" />
                </figure>
            </div>
            <!-- End: Brand Logo Image -->

            <!-- Start: Login form -->
            <form>
                <div class="input-group flex-nowrap">
                    <label for="username" class="d-flex"><span class="icon-Username-icon input-icon input-group-text border-0 pe-3"></span></label>
                    <div class="txt_field">
                        <input type="text" id="username" required>
                        <span></span>
                        <label>USERNAME</label>
                    </div>
                    <!-- <input type="text" class="form-control txt_field border-top-0 border-start-0 border-end-0" placeholder="USERNAME" aria-label="Username" aria-describedby="basic-addon1"> -->
                </div>
                <div class="input-group flex-nowrap">
                    <label for="password" class="d-flex"><span class="icon-Password-icon input-icon input-group-text border-0 pe-3"></span></label>
                    <div class="txt_field">
                        <input type="password" id="password" required>
                        <span></span>
                        <label>PASSWORD</label>
                    </div>
                    <!-- <input type=" password " class="form-control txt_field border-top-0 border-start-0 border-end-0 " placeholder="PASSWORD " aria-label="Password " aria-describedby="basic-addon1 "> -->
                </div>
                <div class="pb-5 pt-2 ">
                    <a href="# " class="link-primary text-decoration-none d-flex justify-content-end ">Forget Password?</a>
                </div>
                <div>
                    <button type="submit " class="btn btn-primary ">Login</button>
                </div>
            </form>
            <!-- End: Login form -->
        </div>


    </div>
</main>
<!-- End: Main Section -->