<!-- Start: Main Section -->
<!-- <main class="h-100 d-flex justify-content-center align-items-center"> -->
<main class="h-100 d-flex justify-content-center align-items-center overflow-hidden p-5">
    <div class="wrapper d-flex overflow-hidden p-5">
        <!-- End: Greeting layout -->
        <div class="login-form d-flex flex-grow-1 flex-column justify-content-center align-items-center">
            <!--Start: Brand Logo Image -->
            <div class="mb-5 responsive-brand d-flex d-md-column align-items-center">
                <figure class="brand-logo overflow-hidden me-3">
                    <img src="../../../../assets/images/1Ru balck logo.png" alt="brand-logo-image" />
                </figure>
                <h2 class="brand-title d-md-none">LEAVE MANAGEMENT</h2>
            </div>
            <!-- End: Brand Logo Image -->
            <!-- Start: Login form -->
            <form [formGroup]="loginForm" class="w-100 pe-4" (ngSubmit)="onSubmit()">
                <div class="d-flex w-100">
                    <label for="username" class="d-flex">
                        <span class="icon-username input-icon input-group-text border-0 mt-4 pe-3"></span>
                    </label>
                    <div class="form-floating flex-grow-1 d-flex my-3">
                        <input type="text" class="form-control border-0 border-bottom" id="userName"
                            formControlName="userName" placeholder="PASSWORD">
                        <label class="text-muted opacity-100" for="userName">
                            USERNAME
                        </label>
                    </div>
                </div>
                <!-- Password Field -->
                <div class="d-flex w-100">
                    <label for="password" class="d-flex"><span
                            class="icon-password input-icon input-group-text border-0 mt-4 pe-3"></span>
                    </label>
                    <div class="form-floating flex-grow-1 d-flex my-3">
                        <input type="{{ passwordField.className == 'close' ? 'password' : 'text' }}" [id]="passwordField.id"
                            [formControlName]="passwordField.id" [placeholder]="passwordField.id"
                            class="form-control border-0 border-bottom">
                        <label class="text-muted opacity-100" [for]="passwordField.id">
                            {{ passwordField.id.toUpperCase() }}
                        </label>
                    </div>
                    <span #eyeIcon id="eyeIcon" *ngIf="loginForm.controls['password'].valid"
                        class="icon my-3 ps-1 pt-4 fs-4 border-bottom" ngClass="{{'icon-eye-' + passwordField.className}}"
                        (click)="togglePasswordVisibility()"></span>
                </div>
                <!-- Forgot Password link -->
                <div class="pb-5 pt-2">
                    <a class="link-primary text-decoration-none d-flex justify-content-end"
                        routerLink="/forgot-password">Forget Password?</a>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <!-- End: Login form -->
        </div>
        <!-- Start: Greeting layout -->
        <div class="greeting h-100 position-relative d-none d-md-block">
            <div
                class="greeting__text d-none d-md-block text-light m-2 p-4 position-absolute top-50 start-50 translate-middle">
                <h6>WELCOME TO</h6>
                <h2 class="brand-title">1RU LEAVE MANAGEMENT</h2>
            </div>
            <figure class="greeting_image overflow-hidden">
                <img src="../../../../assets/images/login-page-image.png" alt="greeting image" />
            </figure>
        </div>
    </div>
</main>
<!-- End: Main Section -->