<!-- Start: Leave Status Presentation  -->

<div class="row pt-5 g-3">
    <div class="col-12 col-sm-12 col-lg-6">

        <!-- Leave Status Card  -->
        <div class="card h-100">
            <div class="card-body">
                <div class="card-title fs-4"> Leave Status </div>
                <div class="card-content d-flex justify-content-between">
                    <div class="circle">

                    </div>
                    <ul class="list-unstyled">
                        <li class="d-flex mb-4"> 
                            <span class="me-4 p-3 rounded-circle badge bg-warning bg-opacity-10 text-warning"> 01 </span>
                            <div class="card-text text-muted d-flex align-items-center"> Pending Request </div>
                        </li>
                        <li class="d-flex mb-4"> 
                            <span class="me-4 p-3 rounded-circle badge bg-danger bg-opacity-10 text-danger"> 01 </span>
                            <div class="card-text text-muted d-flex align-items-center"> Rejected Request </div>
                        </li>
                        <li class="d-flex mb-4"> 
                            <span class="me-4 p-3 rounded-circle badge bg-primary bg-opacity-10 text-primary"> 01 </span>
                            <div class="card-text text-muted d-flex align-items-center"> Accepted Request </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 d-flex flex-column">

        <!-- Total Leave Request Card  -->
        <div class="card flex-grow-1">
            <div class="card-body">
                <figure class="position-relative d-flex justify-content-center">
                    <img src="../../../../../assets//svg/total-leave-bg.svg" alt="">
                    <span class="position-absolute top-50 start-50 translate-middle fs-4 ps-2 pt-2 text-primary"> 08 </span>
                </figure>
                <div class="card-title m-0 text-center fs-4">Total Leave Request</div>
            </div>
        </div>

        <!-- Total Work Form Hoem Card  -->
        <div class="card mt-4 flex-grow-1">
            <div class="card-body">
                <figure class="position-relative d-flex justify-content-center">
                    <img src="../../../../../assets/svg/total-wfh-bg.svg" alt="">
                    <span class="position-absolute top-50 start-50 translate-middle fs-4 ps-2 pt-2 text-danger"> 06 </span>
                </figure>
                <div class="card-title m-0 text-center fs-4">Total WFH Request</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">

        <!-- List of Holidays Card  -->
        <div class="card h-100">
            <div class="card-body">
                <div class="card-title fs-4">List of Holidays</div>
                <ul class="list-unstyled mt-4">
                    <li class="holiday d-flex justify-content-between mb-4 pb-3 border-bottom">
                        <div class="card-text text-muted text-nowrap"> New Year </div> <span
                            class="badge rounded-pill text-success bg-success bg-opacity-10 px-4 py-2 holiday-date-size"> 1 JAN </span>
                    </li>
                    <li class="holiday d-flex justify-content-between mb-4 pb-3 border-bottom">
                        <div class="card-text text-muted text-nowrap"> Uttarayan </div> <span
                            class="badge rounded-pill text-warning bg-warning bg-opacity-10 px-4 py-2 holiday-date-size"> 1 JAN </span>
                    </li>
                    <li class="holiday d-flex justify-content-between mb-4 pb-3 border-bottom">
                        <div class="card-text text-muted text-nowrap"> Republic Day </div> <span
                            class="badge rounded-pill text-success bg-success bg-opacity-10 px-4 py-2 holiday-date-size"> 1 JAN </span>
                    </li>
                    <li class="holiday d-flex justify-content-between mb-4 pb-3">
                        <div class="card-text text-muted text-nowrap"> Holi </div> <span
                            class="badge rounded-pill text-warning bg-warning bg-opacity-10 px-4 py-2 holiday-date-size"> 1 JAN </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End: Leave Status Presentation  -->