<div class="d-flex flex-column">
    <!-- title  -->
    <div class="app-title">
        <h1>My Profile</h1>
    </div>
    <!-- cards row : Start -->
    <div class="row g-3 flex-grow-1 mt-5" *ngIf="profileDetails">
        <div class="col col-md-12 col-xl-4">
            <!-- personal details -->
           <app-personal-details-prensentation [personalDetails]="profileDetails"></app-personal-details-prensentation>
        </div>
        <div class="col col-md-12 col-xl-8">
            <!-- Internship detaiils-->
            <app-training-details-presentation [trainingDetails]="profileDetails" ></app-training-details-presentation>
        </div>
    </div>
    <!-- cards row : End -->
</div>
