//Color use in theme
// $primary: #408CFF;
$primary: #1271ff;
$warning : #FFB800;
$danger: #F26A6A;
$secondary: #adadad;
$gray: #989d9e;
$light: #e5e5e5;
$extra-light: #fcfcfc;
$white: #ffffff;

$text-muted: #7A7A7A;

//Body background
$body-bg: $light;
$body-color:#515151;

$content-wrapper-bg: #f9fbff; 

//for btn contrast color
$min-contrast-ratio: 4;

//Brand-line-color
$brand-line-color: $white;

//Input field color
$input-bg: transparent;
$input-placeholder-color: $secondary;

//Border
$border-bottom: $secondary;

//sidebar
$sidebar-bg: #408cff;
$nav-link-color: $white;
$nav-link-hover-color: $primary;
$icon-hover-color: $primary;

// table
$table-striped-color:transparent;

// Calender
$selected-date: #f89ca7;

//profile module
$user-avatar-border-bg:#CBDFFF;
$user-name-color:#515151;
$user-domain-color:#7A7A7A;
