//Color use in theme
// $primary: #408CFF;
$primary: #1271ff;
$secondary: #adadad;
$gray: #989d9e;
$light: #f8fafc;
$extra-light: #fcfcfc;
$white: #ffffff;

//Body background
$body-bg: $light;

//Brand-line-color
$brand-line-color: $white;

//Input field color
$input-bg: transparent;
$input-placeholder-color: $secondary;

//Border
$border-bottom: $secondary;

//Button
// $button-bg-color: #1271FF;
$btn-link-color: $white;
$btn-link-hover-color: $white;
