//Color use in theme
$gray: #989d9e;
$light: #f8fafc;
$extra-light: #fcfcfc;
$white:#ffffff;
//Body background
$body-bg: $light;
//Brand-line-color
$brand-line-color:$white;
//Input field color
$input-bg: transparent;
$input-placeholder-color:#ADADAD;