// Global styles goes here
html,
body {
  height: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.overflow-vertical {
  overflow-y: auto;
  overflow-x: hidden;
}

.overflow-horizontal {
  overflow-y: hidden;
  overflow-x: auto;
}

.cursor-pointer {
  cursor: pointer;
}
