// All the SCSS Variables goes here
//Form
$input-group-addon-bg: transparent;
//Input Icon
$input-group-addon-padding-x: 0;
$input-padding-x: 0;
$input-border-radius: 0;
$input-icon-size: 1.5rem;
//Font
$font-family-base: "Futura Md BT",
sans-serif;
$font-family-hv: "Futura Hv BT",
sans-serif;
$font-size-base: 1rem;
$font-size-sm: 0.75rem;
$font-size-lg: 1.875rem;
$font-weight-normal: 400;
$font-weight-bold: 600;
//Button
$btn-font-family: $font-family-hv;
$btn-padding-x: 3rem;
$btn-padding-y: 0.5rem;
$btn-border-radius: 0.5rem;
////// Bootstrap
//Form floating
$form-floating-padding-y: 1.75rem 0 0.5rem;
// $form-floating-input-padding-t: 1.5rem;
$form-floating-line-height: 1;
$form-floating-label-transform: scale(0.8) translateY(-2.125rem);
$form-floating-transition: opacity 0.2s ease-in-out,
transform 0.2s ease-in-out;
//sidebar
$sidebar-width: 300px;
$nav-link-font-size: 18px;
$nav-link-padding-y: 0.75rem;
$nav-link-padding-x: 1rem;
$list-group-item-padding-y: 0px;
// Table
$table-bg: transparent;
$table-th-font-weight: $font-weight-normal;
//card
$card-spacer-y: 1.75rem;
$card-spacer-x: 2.5rem;
$card-border-radius: 15px;
$card-border-width: 0px;
$list-group-item-padding-y: 0px;
//badge
$badge-font-size: 1rem;
$badge-font-weight: $font-weight-normal;
$badge-padding-y: 0.625rem;
$badge-padding-x: 0.625rem;
//profile
$user-avatar-size:192px;