// All the SCSS Variables goes here
//Form
$input-group-addon-bg: transparent;
//Input Icon
$input-group-addon-padding-x:0;
$input-padding-x:0;
$input-border-radius:0;
$input-icon-size: 24px;
//Font
$font-family-base: 'Futura Md BT',
sans-serif;
//Button
$btn-padding-x: 3rem;
$btn-padding-y: 0.50rem;
$btn-border-radius: 0.5rem;