// All the SCSS Variables goes here
//Form
$input-group-addon-bg: transparent;
//input icon
$input-group-addon-padding-x:0;
$input-padding-x:0;
$input-border-radius:0;
//Font
$font-family-base: 'Futura',
sans-serif;
//Button
$btn-padding-x: 2rem;
$btn-padding-y: 0.50rem;
$btn-border-radius: 0.5rem;