<div class="d-flex justify-content-center align-items-center bg-light h-100 w-100">
    <div class="card-password d-flex flex-column text-center bg-white">
        <div class="my-5">
            <div class="d-flex justify-content-center">
                <figure class="hero-logo pb-3">
                    <img src="../../../../assets/images/forgot-password.png" alt="forgot-password-image">
                </figure>
            </div>
            <div>
                <h3 class="password-title text-primary">Forgot Password</h3>
            </div>
            <div class="py-3">
                <span class="text-muted">Enter your email and we'll send you a link to reset your password.</span>
            </div>
            <div class="px-4 mx-2">
                <!-- Start: Forgot password form -->
                <form [formGroup]="this.forgotPassword" (ngSubmit)="onSubmit()">
                    <div class="d-flex">
                        <label for="email" class="d-flex">
                            <span class="icon-email input-icon input-group-text border-0 mt-4 pe-3"></span>
                        </label>
                        <div class="form-floating w-100 d-flex my-3">
                            <input type="text" class="form-control border-0 border-bottom" id="email"
                                formControlName="email" placeholder="EMAIL">
                            <label class="text-muted opacity-100" for="email">
                                EMAIL
                            </label>
                            <!-- validation -->
                            <div class="password-validate">
                                <div *ngIf="getvalue['email'].touched && getvalue['email'].invalid" class="text-start">
                                    <small class="text-danger"
                                        *ngIf="getvalue['email'].errors && getvalue['email'].errors['required']">
                                        Email is required.
                                    </small>
                                    <small class="text-danger"
                                        *ngIf="getvalue['email'].errors && getvalue['email'].errors['email']">
                                        Enter proper format.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="py-4">
                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </div>
                </form>
                <!-- End: Forgot password form -->
            </div>
            <!-- Didn't Receive a Link? : Start -->
            <div class="link-resend d-flex flex-row justify-content-center px-4 mt-4">
                <span class="text-muted">Didn't received a link?</span>
                <span class="text-primary ps-1 cursor-pointer">Resend</span>
            </div>
            <!-- Didn't Receive a Link? : End -->
            <!-- Back to Login : Start -->
            <div class="link-resend d-flex flex-row justify-content-center px-4 mt-3">
                <span class="text-muted">Back to</span>
                <a class="text-decoration-none" routerLink="/login">
                    <span class="text-primary ps-1 cursor-pointer">Login</span>
                    <!-- Back to Login : End -->
                </a>
            </div>
        </div>
    </div>
</div>