<div class="d-flex justify-content-center align-items-center bg-light h-100 w-100">
    <div class="card-password d-flex flex-column text-center bg-white">
        <div class="my-5">
            <div class="d-flex justify-content-center">
                <figure class="hero-logo pb-3">
                    <img src="../../../../assets/images/forgot-password.png" alt="forgot-password-image">
                </figure>
            </div>
            <div>
                <h3 class="password-title text-primary">Forgot Password</h3>
            </div>
            <div class="py-3">
                <span class="text-muted">Enter your email and we'll send you a link to reset your password.</span>
            </div>
            <div class="px-4 mx-2">
                <form [formGroup]="this.forgotpassword" (ngSubmit)="onSubmit()">
                    <div class="input-group flex-nowrap">
                        <label for="email" class="d-flex"><span
                                class="icon-email input-icon input-group-text border-0 pe-3"></span></label>
                        <div class="txt_field">
                            <input type="text" id="email" formControlName="email" required>
                            <span class="underline"></span>
                            <label>EMAIL</label>
                        </div>
                    </div>
                    <div class="py-4">
                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </div>
                </form>
            </div>
            <div class="link-resend d-flex flex-row justify-content-center px-4">
                <span class="text-muted">Didn't received a link?</span>
                <span class="text-primary ps-1">Resend</span>
            </div>
        </div>
    </div>
</div>