<div class="d-flex justify-content-center align-items-center bg-light h-100 w-100">
    <div class="card-password d-flex flex-column text-center justify-content-center bg-white p-4">
        <div class="d-flex justify-content-center">
            <figure class="hero-logo mt-5">
                <img src="../../../../assets/images/forgot-password.png" alt="forgot-password-image">
            </figure>
        </div>
        <div>
            <h2>Forgot Password</h2>
        </div>
        <div>
            <span>Enter your email and we'll send you a link to reset your password.</span>
        </div>
        <form [formGroup]="this.forgotpassword" (ngSubmit)="onSubmit()">
            <div class="input-group flex-nowrap">
                <label for="email" class="d-flex"><span
                        class="icon-email input-icon input-group-text border-0 pe-3"></span></label>
                <div class="txt_field">
                    <input type="text" id="email" formControlName="email" required>
                    <span class="underline"></span>
                    <label>USERNAME</label>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div>
                <span>Didn't received a link?</span>
                <span class="text-primary btn px-0">Resend</span>
            </div>
        </form>
    </div>
</div>