<!-- Start: Leave Table  -->
<div class="table-head d-flex justify-content-between py-4">
    <h3 class="fs-5"> My Leaves </h3>
    <button class="btn btn-primary py-2 px-4"> APPLY LEAVE </button>
</div>

<!-- Leave Table  -->
<table class="table table-leave over">
    <thead>
        <tr>
            <th scope="col">Application Date</th>
            <th scope="col">Type</th>
            <th scope="col">No. of Days</th>
            <th scope="col">Leaves Dates</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Revoke</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let application of leaveData">
            <td>{{ application.appliedDate }}</td>
            <td>{{ application.applicationTypeName }}</td>
            <td>{{ application.noOfDays }} days</td>
            <td>{{ application.leaveDates }}</td>
            <td class="text-truncate">{{ application.description }}</td>
            <td>
                <div [class]="leaveStatus[application.applicationStatus - 1].toLowerCase().replace('. ', '-') + '-color'" class="text-center rounded-3 me-5 py-2">
                    {{ leaveStatus[application.applicationStatus - 1] }}
                </div>
            </td>
            <td>
                <button type="button" [disabled]="isRevokeButtonDisabled" class="btn btn-outline-primary w-75 px-3">
                    {{ mapButton(leaveStatus[application.applicationStatus - 1]) | uppercase }} 
                </button>
            </td>
        </tr>
    </tbody>
</table>
<!-- End: Leave Table  -->