<!-- Start: Leave Table Presentation  -->
<div class="w-100 overflow-hidden">

    <!-- Table Heading  -->
    <div class="table-head d-flex justify-content-between py-4">
        <h3 class="fs-5"> My Leaves </h3>
        <button class="btn btn-primary py-3"> APPLY LEAVE </button>
    </div>

    <div class="overflow-hidden">
        <div class="overflow-auto">
            <!-- Leave Table  -->
            <table class="table table-leave over">
                <thead>
                    <tr>
                        <th scope="col">Application Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">No. of Day</th>
                        <th scope="col">Leaves Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Revoke</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12/12/12</td>
                        <td>Full Day</td>
                        <td>2 days</td>
                        <td>20 FEB 2022</td>
                        <td>Going on vataction with friends</td>
                        <td>Rejected</td>
                        <td><button type="button" class="btn btn-outline-primary">Revoke</button></td>
                    </tr>
                    <tr>
                        <td>12/12/12</td>
                        <td>Full Day</td>
                        <td>2 days</td>
                        <td>20 FEB 2022</td>
                        <td>Going on vataction with friends</td>
                        <td>Rejected</td>
                        <td><button type="button" class="btn btn-outline-primary">Revoke</button></td>
                    </tr>
                    <tr>
                        <td>12/12/12</td>
                        <td>Full Day</td>
                        <td>2 days</td>
                        <td>20 FEB 2022</td>
                        <td>Going on vataction with friends</td>
                        <td>Rejected</td>
                        <td><button type="button" class="btn btn-outline-primary">Revoke</button></td>
                    </tr>
                    <tr>
                        <td>12/12/12</td>
                        <td>Full Day</td>
                        <td>2 days</td>
                        <td>20 FEB 2022</td>
                        <td>Going on vataction with friends</td>
                        <td>Rejected</td>
                        <td><button type="button" class="btn btn-outline-primary">Revoke</button></td>
                    </tr>
                    <tr>
                        <td>12/12/12</td>
                        <td>Full Day</td>
                        <td>2 days</td>
                        <td>20 FEB 2022</td>
                        <td>Going on vataction with friends</td>
                        <td>Rejected</td>
                        <td><button type="button" class="btn btn-outline-primary">Revoke</button></td>
                    </tr>
                    <tr>
                        <td>12/12/12</td>
                        <td>Full Day</td>
                        <td>2 days</td>
                        <td>20 FEB 2022</td>
                        <td>Going on vataction with friends</td>
                        <td>Rejected</td>
                        <td><button type="button" class="btn btn-outline-primary">Revoke</button></td>
                    </tr>
                    <tr>
                        <td>12/12/12</td>
                        <td>Full Day</td>
                        <td>2 days</td>
                        <td>20 FEB 2022</td>
                        <td>Going on vataction with friends</td>
                        <td>Rejected</td>
                        <td><button type="button" class="btn btn-outline-primary">Revoke</button></td>
                    </tr>
                    <tr>
                        <td>12/12/12</td>
                        <td>Full Day</td>
                        <td>2 days</td>
                        <td>20 FEB 2022</td>
                        <td>Going on vataction with friends</td>
                        <td>Rejected</td>
                        <td><button type="button" class="btn btn-outline-primary">Revoke</button></td>
                    </tr>
                    <tr>
                        <td>12/12/12</td>
                        <td>Full Day</td>
                        <td>2 days</td>
                        <td>20 FEB 2022</td>
                        <td>Going on vataction with friends</td>
                        <td>Rejected</td>
                        <td><button type="button" class="btn btn-outline-primary">Revoke</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<!-- End: Leave Table Presentation  -->