// Button styles goes here
.btn {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    cursor: pointer;

    @include media-breakpoint-down(md) {
        font-size: 0.75rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}