// Card styles goes here
.card-password{
    width: 480px;
    padding: 2.75rem;

    .hero-logo{
        width: 50%;
    }
    .link-resend{
        font-size: 0.75rem;
    }
}

ul{
    .holiday{
        padding: 10px 0;
        border-bottom: 1px solid #e9e9e9;
        
        &-date{
            color: red;
            // background: ;
        }
    
    }
}