// Form controls styles goes here

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.form-control:focus {
  box-shadow: none;
}

#eyeIcon {
  position: absolute;
  right: 0;
}

.form-floating {
  position: relative;

  > label {
    top: 14px;
  }

  .password-validate {
    position: absolute;
    top: 100%;
  }
}
