// Form controls styles goes here
// .wrapper .form-control:focus {
//     box-shadow: none;
//     outline: none;
// }
form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    font-family: 'Futura Md BT';
    width: 100%;
}

.txt_field input {
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    width: 100%;
}

.txt_field label {
    // font-family: 'Futura Md BT';
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s all ease;
    letter-spacing: 0.065em;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    font-size: 12px;
    color: #2691d9;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}