// Form controls styles goes here

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.form-control:focus {
  box-shadow: none;
}

// predefined height and padding for validation text
.validation-text {
  height: 25px;
  padding-left: 2.5rem;
}