.table {
  border-collapse: separate;
  border-spacing: 0px 10px;
  tr,
  th,
  td {
    border-style: none;
  
  }
  &.table-leave {
    thead {
      z-index: 10;
      background-color: $content-wrapper-bg;
    }
    tr {
      border-radius: 12px;
      th {
        background: transparent;
        border: 0px;
        color: $text-muted;
      }
      th:first-child{
        padding-left: 2rem;
      }
      td {
        vertical-align: middle;
        background-color: $white;
      }
      td:first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        padding-left: 2rem;
      }
      td:last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding-right: 2rem;

      }
    }
  }
}

@each $clr,$clr-val in $leave-status {
  .#{$clr}-color{
      background-color: rgba($clr-val, 0.1);
      color: $clr-val;
  }
}
