.toast-container {
    width: 250px;

    .toast {
        background-color: $white;
        color: $danger;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        border: 1px solid $danger;
        border-left-width: 5px;
        
        &-error {
            background-image: none;
        }
        
        &-close-button {
            color: $danger;
        }
    }
}