#sidebar {
  background-color: $sidebar-bg;
  width: $sidebar-width;

  .brand {
    &-img {
      width: 50px;
      height: 55px;
    }

    .project-name{
      font-size: 20px;
    }
  }

  .nav {
    .icon {
      font-size: 1.5rem;
    }
    &-link {
      display: flex;
      align-items: center;
      border-radius: 8px;
      &:hover {
        background-color: $white;
      }
    }
  }

  .active {
    background-color: $white;
    color: $primary;
  }
}
