<div class="d-flex justify-content-center align-items-center bg-light h-100">
    <div class="card-password d-flex flex-column text-center bg-white">
        <div class="d-flex justify-content-center">
            <figure class="hero-logo pb-2">
                <img src="../../../../assets/images//change-password.png" alt="forgot-password-image">
            </figure>
        </div>
        <div>
            <h3 class="password-title text-primary">Change Password</h3>
        </div>
        <div class="px-4 mx-2">
            <!-- Start: Change password form -->
            <form [formGroup]="this.changePassword" (ngSubmit)="onSubmit()">
                <!-- Loop for password fields -->
                <div class="d-flex position-relative" *ngFor="let eye of this.eyes; let i = index;">
                    <div class="form-floating w-100 d-flex flex-column  my-2">
                        <input type="{{eye.className == 'close' ? 'password' : 'text'}}" id="{{ eye.id + 'Password'}}"
                            [formControlName]="eye.id + 'Password'" [placeholder]="eye.id + 'Password'"
                            class="form-control border-0 border-bottom">
                        <label class="text-muted opacity-100" for="{{ eye.id + 'Password'}}">
                            {{ eye.id.toUpperCase() }} PASSWORD
                        </label>
                        <div class="password-validate">
                            <div *ngIf="getvalue[eye.id + 'Password'].touched " class="text-start ">
                                <small class="text-danger" *ngIf="getvalue[eye.id + 'Password'].errors">
                                    Field Required
                                </small>
                            </div>
                        </div>
                    </div>
                    <span #eyeIcon id="eyeIcon" *ngIf="this.changePassword.controls[eye.id + 'Password'].valid"
                        class="icon my-3 ps-1 pt-4 fs-4" ngClass="{{'icon-eye-' + eye.className}}"
                        (click)="toggleEye(i)">
                    </span>

                </div>

                <!-- password validation-->
                <!-- <div *ngIf="this.changePassword.controls['Password'].invalid" class="text-start text-danger">
                    Email is required.
                </div> -->
                <!-- Forgot password link -->
                <div class="mt-0 position-relative d-flex justify-content-end">
                    <a class="link-primarytext-decoration-none position-absoulte"
                        routerLink="/forgot-password">Forget Password?</a>
                </div>
                <div class="py-3">
                    <button type="submit" class="btn btn-primary w-100 fw-normal">CHANGE PASSWORD</button>
                </div>
                <div class="link-resend d-flex flex-row justify-content-center px-5 mt-2">
                    <span class="text-muted">Back to</span>
                    <a class="text-decoration-none" routerLink="/login">
                        <span class="text-primary ps-1 cursor-pointer">Login</span>
                    </a>
                </div>
            </form>
            <!-- End: Change password form -->
        </div>
    </div>
</div>