<div class="d-flex justify-content-center align-items-center bg-light h-100">
    <div class="card-password d-flex flex-column text-center bg-white">
        <div class="d-flex justify-content-center">
            <figure class="hero-logo pb-2">
                <img src="../../../../assets/images//change-password.png" alt="forgot-password-image">
            </figure>
        </div>
        <div>
            <h3 class="password-title text-primary">Change Password</h3>
        </div>
        <div class="px-4 mx-2">
            <!-- Start: Change password form -->
            <form [formGroup]="this.changePassword" (ngSubmit)="onSubmit()">
                <!-- Loop for password fields -->
                <div class="d-flex position-relative">
                    <div class="form-floating w-100 d-flex flex-column  my-2">
                        <input type="{{passwordVisibility[0].className == 'close' ? 'password' : 'text'}}" id="{{ passwordVisibility[0].id + 'Password'}}"
                            [formControlName]="passwordVisibility[0].id + 'Password'" [placeholder]="passwordVisibility[0].id + 'Password'"
                            class="form-control border-0 border-bottom pe-4">
                        <label class="text-muted opacity-100" for="{{ passwordVisibility[0].id + 'Password'}}">
                            {{ passwordVisibility[0].id.toUpperCase() }} PASSWORD
                        </label>
                        <div class="password-validate">
                            <div *ngIf="getvalue[passwordVisibility[0].id + 'Password'].touched " class="text-start ">
                                <small class="text-danger" *ngIf="getvalue[passwordVisibility[0].id + 'Password'].errors">
                                    Field Required
                                </small>
                            </div>
                        </div>
                        
                    </div>
                    <span #eyeIcon id="eyeIcon" *ngIf="this.changePassword.controls[passwordVisibility[0].id + 'Password'].value.length"
                        class="icon my-2 ps-1 pt-4 fs-4" ngClass="{{'icon-eye-' + passwordVisibility[0].className}}"
                        (click)="toggleEye(0)">
                    </span>

                </div>
                <div class="d-flex position-relative">
                    <div class="form-floating w-100 d-flex flex-column  my-2">
                        <input type="{{passwordVisibility[1].className == 'close' ? 'password' : 'text'}}" id="{{ passwordVisibility[1].id + 'Password'}}"
                            [formControlName]="passwordVisibility[1].id + 'Password'" [placeholder]="passwordVisibility[1].id + 'Password'"
                            class="form-control border-0 border-bottom pe-4">
                        <label class="text-muted opacity-100" for="{{ passwordVisibility[1].id + 'Password'}}">
                            {{ passwordVisibility[1].id.toUpperCase() }} PASSWORD
                        </label>
                        <div class="password-validate">
                            <div *ngIf="getvalue[passwordVisibility[1].id + 'Password'].touched " class="text-start ">
                                <small class="text-danger" *ngIf="getvalue[passwordVisibility[1].id + 'Password'].errors">
                                    Field Required
                                </small>
                            </div>
                        </div>

                    </div>
                    <span #eyeIcon id="eyeIcon" *ngIf="this.changePassword.controls[passwordVisibility[1].id + 'Password'].value.length"
                        class="icon my-2 ps-1 pt-4 fs-4" ngClass="{{'icon-eye-' + passwordVisibility[1].className}}"
                        (click)="toggleEye(1)">
                    </span>

                </div>
                <div class="d-flex position-relative">
                    <div class="form-floating w-100 d-flex flex-column  my-2">
                        <input type="{{passwordVisibility[2].className == 'close' ? 'password' : 'text'}}" id="{{ passwordVisibility[2].id + 'Password'}}"
                            [formControlName]="passwordVisibility[2].id + 'Password'" [placeholder]="passwordVisibility[2].id + 'Password'"
                            class="form-control border-0 border-bottom pe-4">
                        <label class="text-muted opacity-100" for="{{ passwordVisibility[2].id + 'Password'}}">
                            {{ passwordVisibility[2].id.toUpperCase() }} PASSWORD
                        </label>
                        <div class="password-validate mt-2">
                            <div *ngIf="getvalue[passwordVisibility[2].id + 'Password'].touched" class="text-start ">
                                <small class="text-danger" *ngIf="getvalue[passwordVisibility[2].id + 'Password'].errors?.['required']">
                                    Please Re-enter Password
                                </small>
                            </div>
                            <div *ngIf="getvalue['confirmPassword']?.errors?.['confirmedValidator']" class="text-danger">Passwords don't match.</div>
                        </div>

                    </div>
                    <span #eyeIcon id="eyeIcon" *ngIf="this.changePassword.controls[passwordVisibility[2].id + 'Password'].value.length"
                        class="icon my-2 ps-1 pt-4 fs-4" ngClass="{{'icon-eye-' + passwordVisibility[2].className}}"
                        (click)="toggleEye(2)">
                    </span>

                </div>

                <!-- password validation-->
                <!-- <div *ngIf="this.changePassword.controls['Password'].invalid" class="text-start text-danger">
                    Email is required.
                </div> -->
                <!-- Forgot password link -->
                <div class="mt-0 position-relative d-flex justify-content-end">
                    <a class="link-primary text-decoration-none"
                        routerLink="/forgot-password">Forget Password?</a>
                </div>
                <div class="pt-5 pb-2">
                    <button type="submit" class="btn btn-primary w-100 fw-normal">CHANGE PASSWORD</button>
                </div>
                <div class="link-resend d-flex flex-row justify-content-center px-5">
                    <span class="text-muted">Back to</span>
                    <a class="text-decoration-none" routerLink="/home/profile">
                        <span class="text-primary ps-1 cursor-pointer">Profile</span>
                    </a>
                </div>
            </form>
            <!-- End: Change password form -->
        </div>
    </div>
</div>