<div class="d-flex justify-content-center align-items-center bg-light h-100">
    <div class="card-password d-flex flex-column text-center bg-white">
        <div class="d-flex justify-content-center">
            <figure class="hero-logo pb-2">
                <img src="../../../../assets/images//change-password.png" alt="forgot-password-image">
            </figure>
        </div>
        <div>
            <h3 class="password-title text-primary">Change Password</h3>
        </div>
        <div class="px-4 mx-2">
            <!-- Start: Change password form -->
            <form [formGroup]="this.changePassword" (ngSubmit)="onSubmit()">
                <!-- Loop for password fields -->
                <div class="d-flex" *ngFor="let eye of this.eyes; let i = index;">
                    <div class="form-floating w-100 d-flex my-3">
                        <input type="{{eye.className == 'close' ? 'password' : 'text'}}" id="{{ eye.id + 'Password'}}"
                            [formControlName]="eye.id + 'Password'" [placeholder]="eye.id + 'Password'"
                            class="form-control border-0 border-bottom">
                        <label class="text-muted opacity-100" for="{{ eye.id + 'Password'}}">
                            {{ eye.id.toUpperCase() }} PASSWORD
                        </label>
                    </div>
                    <span #eyeIcon id="eyeIcon" *ngIf="this.changePassword.controls[eye.id + 'Password'].valid"
                        class="icon my-3 ps-1 pt-4 fs-4 border-bottom" ngClass="{{'icon-eye-' + eye.className}}"
                        (click)="toggleEye(i)"></span>
                </div>
                <!-- Forgot password link -->
                <div class="pb-3">
                    <a class="link-primary text-decoration-none d-flex justify-content-end"
                        routerLink="/forgot-password">Forget Password?</a>
                </div>
                <div class="py-3">
                    <button type="submit" class="btn btn-primary w-100 fw-normal">CHANGE PASSWORD</button>
                </div>
            </form>
            <!-- End: Change password form -->
        </div>
    </div>
</div>