<div class="content-wrapper h-100">
  <!-- Leave Status Table Heading  -->
  <div class="app-title mb-3">
    <h1>Leave Status</h1>
  </div>

  <!-- Start: Leave Status Table  -->
  <table class="table table-leave">
    <thead>
      <tr>
        <th scope="col">Application Date</th>
        <th scope="col">Type</th>
        <th scope="col">No. of Days</th>
        <th scope="col">Leaves Dates</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Revoke</th>
      </tr>
    </thead>

    <tbody>
     
        <tr class="align-middle">
          <td>18/02/2000</td>
          <td>Full day</td>
          <td>2 day(s)</td>
          <td>20 Feb 2022</td>
          <td>I have to visit a family function</td>
          <td>
            <div class="my-3">
              <span
                class="rounded px-4 py-2 bg-warning bg-opacity-10 text-warning"
                >Pending</span
              >   
            </div>
          </td>
          <td>
            <button class="btn btn-outline-primary w-100">REVOKE</button>
          </td>
        </tr>
        <tr>
          <td>18/02/2000</td>
          <td>Full day</td>
          <td>2 day(s)</td>
          <td>20 Feb 2022</td>
          <td>I have to visit a family function</td>
          <td>
            <div class="my-3">
              <span
                class="rounded px-4 py-2 bg-primary bg-opacity-10 text-primary"
                >Accepted</span
              >
            </div>
          </td>
          <td>
            <button class="btn btn-outline-primary w-100 text-uppercase">rEq. tO ReVoKe</button>
          </td>
        </tr>
        <tr>
          <td>18/02/2000</td>
          <td>Full day</td>
          <td>2 day(s)</td>
          <td>20 Feb 2022</td>
          <td>I have to visit a family function</td>
          <td>
            <div class="my-3">
              <span
                class="rounded px-4 py-2 bg-danger bg-opacity-10 text-danger"
                >Rejected</span
              >
            </div>
          </td>
          <td>
            <button class="btn btn-outline-secondary disabled w-100 text-uppercase">ReVoKe</button>
          </td>
        </tr>
      
    </tbody>
  </table>

  <!-- End: Leave Status Table  -->
</div>
